@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --animate-blink: blink 0.7s step-end infinite;



  @keyframes blink {

    from,
    to {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  --animate-fade-in: fade-in 0.5s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* Added Gradient Animation */
  --animate-gradient-x: gradient-x 15s ease infinite;

  @keyframes gradient-x {

    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }
}



html {
  background: var(--background);
}

* {
  cursor: none;
}

button,
a,
.cursor-pointer,
[role="button"] {
  cursor: pointer !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    position: relative;
  }
}

@utility container-custom {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1440px;
}

@utility animate-gradient-text {
  background-size: 200% 200%;
  animation: gradient-x 4s ease infinite;
}